<meta charset="utf-8">
<link rel="shortcut icon" type="image/x-icon" href="../public/img/rsz_logotab.png" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../public/css/header.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../../public/scripts/load_footer_header.js"></script>

<div class="header">

    <canvas id="headerCanvas" width="500" height="50"></canvas>

    <div id="optionsbar">
        <ul id="optionsmenu1">
            <li>
                <div class="logo"><a href="/"><img src="../public/logo.png"
                            style="height: 2.2cm; width: 2cm;margin-left: 19cm; margin-right: 19cm;"></a></div>
            </li>
        </ul>
    </div>

</div>

<div class="row">&nbsp</div>
<div class="row">&nbsp</div>
<div class="row">&nbsp</div>
<div class="row">&nbsp</div>