<!DOCTYPE html>
<html  lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="../public/css/facebook.css" type="text/css">
        
    </head>

<body>
    <div class="header">
        <ul id="optionsmenu1">
            <div class="logo"><img src="../public/logo.png" style="height: 2.2cm; width: 2cm;margin-left: 17cm; margin-right: 19cm;"></div>
        </ul>
    </div>
    <h2>Publish a post on facebook</h2>
    <a href="https://www.facebook.com/profile.php?id=100086943228528">BNK Facebook page</a>

        <div class="content">
            <div class="signup-form">

            <form action="/facebook" method="post">
                <div class="msg-section">
                    <input type="msg" name="msg" placeholder="Write your post here...">
                </div>
                <input type="submit" class="submit-button">
            </form>
        </div>

        </div>
</body>
</html>