<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../public/css/homepage.css" type="text/css">
    <link rel="stylesheet" href="../public/css/payment.css" type="text/css">
    <link rel="stylesheet" href="../public/css/footer_header.css">
    <script src="../public/scripts/load_footer_header.js"></script>
</head>

<body>
    <%- include("./partials/small_header"); -%>

        <h4>You order number is: <%=orderNumber%>
        </h4>
        <p>ההזמנה תיהיה מוכנה בחנות בעוד 2-5 ימי עסקים, ניצור איתך קשר כשההזמנה תיהיה מוכנה</p>

        <video width="320" height="240" controls>
            <source src="../public/motion graphics thank you animation on white hu446 mul WL.mp4" type="video/mp4">
        </video>

        <div id="footer"></div>
</body>
<script src="../public/scripts/payment.js"></script>
<script src="../public/scripts/load_footer_header.js"></script>


</html>