<!DOCTYPE html>
<html>
<title>BNK Jewlery</title>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="../public/img/rsz_logotab.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/homepage.css" type="text/css">
    <link rel="stylesheet" href="../public/css/footer_header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../public/scripts/load_footer_header.js"></script>
    <script src="../public/scripts/query_products.js"></script>


</head>


<body>
    <%- include("./partials/header"); -%>


        <div class="commercials">
            <a href="products"><img width="750" height="750" src="../public/img/new_in_Site.webp"
                    class="attachment-large size-large entered lazyloaded" alt="תכשיטים חדשים"></a>
            <a href="products"><img width="750" height="750" src="../public/img/for-you.jpg"
                    class="attachment-large size-large entered lazyloaded" alt="בשבילך"></a>
        </div>
        <div class="commercials">
            <a href="products"><img width="500" height="500" src="../public/img/new_earrings.webp"
                    class="attachment-large size-large entered lazyloaded" alt="עגילים חדשים"></a>
            <a href="products"><img width="500" height="500" src="../public/img/new_bracelets.webp"
                    class="attachment-large size-large entered lazyloaded" alt="צמידים חדשים"></a>
            <a href="products"><img width="500" height="500" src="../public/img/new_neckleces.webp"
                    class="attachment-large size-large entered lazyloaded" alt="שרשראות חדשות"></a>
        </div>
        <div class="d-flex flex-column branch">
            <div class="p-2"> <a class="font_branch" href="maps"> החנויות שלנו </a></div>
            <div class="p-2"><a class="font_branch" href="maps">♡ מחכות לך בסניפים</a></div>
        </div>

        <div id="footer"></div>


</body>

</html>