<!DOCTYPE html>
<html  lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="../public/css/login.css" type="text/css">
        
    </head>
<body>
                <form action="/login" method="post">
                    <input type="username" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <input type="submit" class="submit-button">
                </form>
                <a href="/register">Register</a>

</body>
</html>
