<!DOCTYPE html>
<html>
<title>BNK Jewlery</title>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="../public/img/rsz_logotab.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../public/css/maps.css" type="text/css">
    <link rel="stylesheet" href="../public/css/footer_header.css">
    <link rel="stylesheet" href="../public/css/homepage.css">
    <script src="../public/scripts/maps.js"></script>
    <script src="../public/scripts/query_products.js"></script>
    <script type='text/javascript'
        src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AiBm0X4Ao60k_HwASoANx00GjVYGck9GCTrhwkn3Vv6PUuWPRCERN1UDxzdL3I9T'
        async defer></script>
    <script src="../public/scripts/load_footer_header.js"></script>


    <script type="text/javascript">
        function GetMap() {
            window.createMap = () => new Microsoft.Maps.Map("#myMap", { zoom: 11 })
            // Create an instance of the search manager and re-enter function
            window.createSearchManager = (map, cb) => {
                Microsoft.Maps.loadModule('Microsoft.Maps.Search', function () {
                    window.searchManager = new Microsoft.Maps.Search.SearchManager(map);
                    cb();
                });
            }

            window.addRoomToMap = addRoomToMap;
            map = window['createMap']()
            let url = "http://localhost:3001/branches";

            $.ajax({
                url: url,
                type: 'GET',
                success: function (res) {
                    for (const branch in res) {
                        addRoomToMap(res[branch]["name"], res[branch]["address"], map);
                    }
                },
            });

            // addRoomToMap('BNK Tel aviv', 'מנחם בגין 150 תל אביב', map);
            // addRoomToMap('BNK Ness Ziona', 'וייצמן 25 נס ציונה', map);
            // addRoomToMap('BNK Rehovot', 'קניון רחובות', map);
            // addRoomToMap('BNK Herzelia', 'רמת ים הרצליה', map);

        }
        function addRoomToMap(name, address, map) {
            findLocationByAddress(address, map, function (location) {
                var roomLocation = location;
                var roomPoint = new Microsoft.Maps.Pushpin(roomLocation);
                //map.setView({ bounds: result.bestView })
                var infobox = new Microsoft.Maps.Infobox(roomLocation, {
                    title: name,
                    description: address,
                    visible: false
                });
                infobox.setMap(map);
                Microsoft.Maps.Events.addHandler(roomPoint, 'click', function () {
                    infobox.setOptions({ visible: true });
                });
                map.entities.push(roomPoint);
            });
        }

        function findLocationByAddress(address, map, foo) {
            if (!window.searchManager) {
                window.createSearchManager(map, () => {
                    findLocationByAddress(address, map, foo)
                })
            } else {
                // If search manager is not defined, load the search module
                var searchRequest = {
                    where: address,
                    callback: function (r) {
                        foo(r.results[0].location);
                    },
                    errorCallback: function (e) {
                        // If there is an error
                        console.log("No results found for this address: " + address);
                    }
                };
                // Make the geocode request
                window.searchManager.geocode(searchRequest);
            }
        }
    </script>

</head>

<body>
    <%- include("./partials/header"); -%>

        <div id='myMap' style='width: 95%; height: 70vh;'></div>
        
        <div id="footer"></div>        
</body>

</html>