<!DOCTYPE html>
<html>
<title>BNK Jewlery</title>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="../public/img/rsz_logotab.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../public/css/maps.css" type="text/css">
    <!-- <link rel="stylesheet" href="../public/css/homepage.css" type="text/css"> -->
    <link rel="stylesheet" href="../public/css/footer_header.css">
    <script src="../public/scripts/maps.js"></script>
    <script src="../public/scripts/query_products.js"></script>
    <script type='text/javascript'
        src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AiBm0X4Ao60k_HwASoANx00GjVYGck9GCTrhwkn3Vv6PUuWPRCERN1UDxzdL3I9T'
        async defer></script>
    <script src="../public/scripts/load_footer_header.js"></script>


    <script type="text/javascript">
        function GetMap() {
            window.createMap = () => new Microsoft.Maps.Map("#myMap", { zoom: 11 })
            // Create an instance of the search manager and re-enter function
            window.createSearchManager = (map, cb) => {
                Microsoft.Maps.loadModule('Microsoft.Maps.Search', function () {
                    window.searchManager = new Microsoft.Maps.Search.SearchManager(map);
                    cb();
                });
            }

            window.addRoomToMap = addRoomToMap;
            map = window['createMap']()
            let url = "http://localhost:3001/branches";

            $.ajax({
                url: url,
                type: 'GET',
                success: function (res) {
                    for (const branch in res) {
                        addRoomToMap(res[branch]["name"], res[branch]["address"], map);
                    }
                },
            });

            // addRoomToMap('BNK Tel aviv', 'מנחם בגין 150 תל אביב', map);
            // addRoomToMap('BNK Ness Ziona', 'וייצמן 25 נס ציונה', map);
            // addRoomToMap('BNK Rehovot', 'קניון רחובות', map);
            // addRoomToMap('BNK Herzelia', 'רמת ים הרצליה', map);

        }
        function addRoomToMap(name, address, map) {
            findLocationByAddress(address, map, function (location) {
                var roomLocation = location;
                var roomPoint = new Microsoft.Maps.Pushpin(roomLocation);
                //map.setView({ bounds: result.bestView })
                var infobox = new Microsoft.Maps.Infobox(roomLocation, {
                    title: name,
                    description: address,
                    visible: false
                });
                infobox.setMap(map);
                Microsoft.Maps.Events.addHandler(roomPoint, 'click', function () {
                    infobox.setOptions({ visible: true });
                });
                map.entities.push(roomPoint);
            });
        }

        function findLocationByAddress(address, map, foo) {
            if (!window.searchManager) {
                window.createSearchManager(map, () => {
                    findLocationByAddress(address, map, foo)
                })
            } else {
                // If search manager is not defined, load the search module
                var searchRequest = {
                    where: address,
                    callback: function (r) {
                        foo(r.results[0].location);
                    },
                    errorCallback: function (e) {
                        // If there is an error
                        console.log("No results found for this address: " + address);
                    }
                };
                // Make the geocode request
                window.searchManager.geocode(searchRequest);
            }
        }
    </script>

</head>

<body>
    <div class="header">
        <p>♡ שליח עד הבית חינם בקנייה של 249 ש"ח ♡</p>

        <div id="optionsbar">
            <ul id="optionsmenu1">
                <li><button class="btn btn-light">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-bag-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z" />
                        </svg></button>
                </li>
                <li><button class="btn btn-light"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                        </svg> </button></li>

                <li>
                    <% if(username!=null ) { %>
                        <button class="btn btn-light">שלום <%=username%></button>
                        <% } else { %>
                            <button class="btn btn-light" onclick="openLogin()">התחבר/י</button>
                            <%}%>
                </li>
                <li>
                    <div class="logo"><a href="/"><img src="../public/logo.png"
                                style="height: 2.2cm; width: 2cm;margin-left: 17cm; margin-right: 19cm;"></a></div>
                </li>
            </ul>
        </div>

        <div class="menu">
            <div class="dropdown">
                <button class="dropbtn btn btn-light">שרשראות</button>
                <div class="dropdown-content">
                    <a onclick="presentProductByCategory('necklaces', 'all', 'all')">כל השרשראות</a>
                    <a onclick="presentProductByCategory('necklaces', 'silver', 'all')">שרשראות כסף</a>
                    <a onclick="presentProductByCategory('necklaces', 'gold', 'all')">שרשראות זהב</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn btn btn-light">עגילים</button>
                <div class="dropdown-content">
                    <a onclick="presentProductByCategory('earrings', 'all', 'all')">כל העגילים</a>
                    <a onclick="presentProductByCategory('earrings', 'silver', 'all')">עגילי כסף</a>
                    <a onclick="presentProductByCategory('earrings', 'gold', 'all')">עגילי זהב</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn btn btn-light">צמידים</button>
                <div class="dropdown-content">
                    <a onclick="presentProductByCategory('bracelets', 'all', 'all')">כל הצמידים</a>
                    <a onclick="presentProductByCategory('bracelets', 'silver', 'all')">צמידי כסף</a>
                    <a onclick="presentProductByCategory('bracelets', 'gold', 'all')">צמידי זהב</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn btn btn-light">טבעות</button>
                <div class="dropdown-content">
                    <a onclick="presentProductByCategory('rings', 'all', 'all')">כל הטבעות</a>
                    <a onclick="presentProductByCategory('rings', 'silver', 'all')">טבעות כסף</a>
                    <a onclick="presentProductByCategory('rings', 'gold', 'all')">טבעות זהב</a>
                </div>
            </div>


            <% if(username=='admin' ) { %>
                <div class="dropdown">
                    <button class="dropbtn btn btn-light">פעולות מנהל</button>
                    <div class="dropdown-content">
                        <a href="/graph">סטטיסטיקות</a>
                        <a href="/users">ניהול משתמשים</a>
                    </div>
                </div>
                <% } else { %>

                    <%}%>
        </div>

        <div id='myMap' style='width: 95%; height: 70vh;'></div>
        
        <div id="footer"></div>        
</body>

</html>