<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../public/css/homepage.css" type="text/css">
    <link rel="stylesheet" href="../public/css/payment.css" type="text/css">
    <link rel="stylesheet" href="../public/css/all_products.css" type="text/css">
    <link rel="stylesheet" href="../public/css/footer_header.css">
    <script src="../public/scripts/query_products.js"></script>
</head>

<body>
    <%- include("./partials/header"); -%>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">שם מוצר</th>
                    <th scope="col">מחיר</th>
                    <th scope="col">תמונה</th>

                </tr>
            </thead>
            <tbody class="shopping-bag">
            <tfoot style="vertical-align:bottom">
                <tr style="height:100px">
                    <td>סהכ</td>
                    <td id="total"></td>
                    <td id="totalDollar"></td>
                </tr>
            </tfoot>
            </tbody>
        </table>

        <div class="total-bag">
            <button class="btn btn-light" onclick="dollarexchange()">המר לדולר</button>
            <h5 id="totalDollar"></h5>
        </div>

        <form action="/payment" method="post" class="products">
            <input name="username" type="text" value="<%=username%>">
            <button type="submit" class="submit-button">סיום הזמנה</button>
        </form>

        <div id="footer"></div>
</body>
<script src="../public/scripts/query_products.js"></script>
<script src="../public/scripts/payment.js"></script>
<script src="../public/scripts/load_footer_header.js"></script>

</html>