<!DOCTYPE html>
<html>
<title>BNK Jewlery</title>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="../public/img/rsz_logotab.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="../public/css/homepage.css" type="text/css"> -->
    <link rel="stylesheet" href="../public/css/users.css" type="text/css">
    <link rel="stylesheet" href="../public/css/footer_header.css">
    <script src="../public/scripts/query_products.js"></script>

</head>


<body>
    
    <%- include("./partials/header"); -%>
    <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>

        <div class="users">
            <button onclick="presentuserlist()" class="btn btn-light present">
                הצג רשימת משתמשים
            </button>
            <button onclick="removeuserlist()" class="btn btn-light notpresent" style="display: none;" >
                הפסק להציג רשימת משתמשים
            </button>
            <div class="users_list">
            </div>

            <button onclick="deleteuser()" class="btn btn-light delete">מחק משתמש</button><br>
            <input type="username" name="username" placeholder="Username"><br>

            <button onclick="openFormedit()" class="btn btn-light delete">ערוך משתמש</button><br>
            <input type="username" name="username_edit" placeholder="Username to edit"><br>
            <div class="form-popup" id="myForm">
                <form class="form-container">
                    <h1>עריכה</h1>

                    <label for="name"><b>שם</b></label>
                    <input type="text" value="" name="name" readonly>
                    <label for="address"><b>כתובת</b></label>
                    <input type="text" value="" name="address">
                    <label for="phonenumber"><b>מספר טלפון</b></label>
                    <input type="text" value="" name="phonenumber">

                    <button type="button" class="btn" onclick="edititem()">אשר</button>
                    <button type="button" class="btn cancel" onclick="closeFormedit()">סגור</button>
                </form>
            </div>


            <div class="list">
                <ul class="user_list"></ul>
            </div>
        </div>

        <div id="footer"></div>
</body>
<script src="../public/scripts/users.js"></script>
<script src="../public/scripts/load_footer_header.js"></script>

</html>