body {
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: arial;
  position: relative;
  text-align: center;
  background-color: #faf9f8;
}
.content {
  text-align: center;
}


form>div {
  padding: 10px;
  margin: 5px;
}
