@font-face {
    font-family: varela_roundregular;
    src: url('../fonts/VarelaRound-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: varela_roundregular;
}


.product-info{
    position: relative;
}

.nav-link {
    color: black !important;
}

#myCarousel img {
    width: 600px;
    height: 600px;
}
