.carousel-inner{
    position:relative !important;
    width: 600px !important; 
    height: 600px !important;
}

.product-info{
    position: relative;
}

.nav-link {
    color: black !important;
}

.carousel-item{
    width: 600px !important;
    height: 600px !important;
}

